:root {
    -index: calc(1vh + 1vw)
}


.cell-cart {
    user-select: none;
    background-color: #101010;
    margin: 2vw;
    width: 94vw;
    height: 15vh;
    border-radius: var(--index);
    border: calc(var(--index) * .4) solid #323232;
}

.photo-cart {
    width: 15vh;
    height: 15vh;
    border-radius: var(--index) 0 0 var(--index);
}

.name-box {
    margin-top: -14.5vh;
    margin-left: 18vh;
    width: 50vw;
    height: 9vh;
}
.name-cart {
    font-family: Arial Narrow, sans-serif;
    font-size: calc(var(--index) * 1.2);
    width: 55vw;
    color: rgb(194, 194, 194);
}

.delete-icon {
    cursor: pointer;
    transform: scale(1.7);
    color: rgb(167, 0, 0);
    transition: transform .5s, color 1s;
}
.delete-icon:hover {
    transform: scale(1.8);
    color: #e80000;
}

.delete-icon:active {
    transform: scale(1.5);
    color: #e80000;
}



.price-cart {
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: whitesmoke;
    margin-left: 33vw;
    margin-right: 26vw;
}



.total-cart {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: calc(var(--index) * 1.7);
    background-color: rgb(194, 194, 194);
    border: 2vw solid rgb(194, 194, 194);
    color: black;
    font-weight: 600;
    margin-left: 2vw;
    margin-top: 3vh;
    user-select: none;
    width: 92vw;
    margin-bottom: calc(VAR(--index) * 7);
}

.total-price {
    font-weight: 900;
    color: #1b5b2c;
}


.buy-button {

    font-family: Arial Narrow, sans-serif;

    position: fixed;
    bottom: 0;
    right: 0;

    padding: calc(var(--index) * 1.4) calc(var(--index) * 9);

    text-decoration: none;
    font-weight: 600;
    font-size: calc(var(--index) * 2);
    border-radius: var(--index) 0 0 var(--index);

    background-color: #319b4d;
    transition: background-color 1s;
    color: whitesmoke;

    user-select: none;

}

.buy-button:hover {
    background-color: rgb(48, 168, 102);
}

.info-image {
    height: 75vh;
    width: 100vw;
}

.info-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    color: whitesmoke;
    font-size: calc(var(--index) * 2.5);
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-shadow: 2px 2px rgb(68, 68, 68);
}

.info-block-2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-2 {
    color: rgb(167, 167, 167);
    font-size: calc(var(--index) * 2.5);
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-shadow: 2px 2px rgb(54, 54, 54);
    width: 88vw;
}

#back {
    left: 0;
    border-radius: 0 var(--index) var(--index) 0;
    width: 35vw;
}

.download-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 3.1vw;
    height: 15vh;
    width: 15vw;
    border-radius: 0 var(--index) var(--index) 0;
    background-color: whitesmoke;
    margin-top: -9.5vh;
}

.download-cart {
    transform: scale(1.7);
    color: #101010;
    transition: transform 1s, opacity 1s;
}

.download-cart:hover {
    transform: scale(1.4);
    opacity: .7;
}
.download-cart:active {
    transform: scale(1);
}