:root {
    -index: calc(1vh + 1vw)
}


.cell-cart {
    user-select: none;
    background-color: #101010;
    margin: 2vw;
    width: 94vw;
    height: 15vh;
    border-radius: var(--index);
    border: calc(var(--index) * .4) solid #323232;
}

.photo-cart {
    width: 15vh;
    height: 15vh;
    border-radius: var(--index) 0 0 var(--index);
}

.name-box {
    display: flex;
    justify-content: center;
    margin-top: -15vh;
    margin-left: 15vh;
    width: 70vw;
    height: 9vh;
}
.name-cart {
    font-family: Arial Narrow, sans-serif;
    font-size: calc(var(--index) * 2);
    width: 65vw;
    color: rgb(194, 194, 194);
}

.download-cart {
    transform: scale(1.2);
    color: rgb(135, 135, 135);
    transition: transform 1s, opacity 1s;
}
.download-cart:hover {
    transform: scale(1.4);
    opacity: .7;
}
.download-cart:active {
    transform: scale(1);
}

.price-cart {
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: whitesmoke;
    margin-left: 28vw;
    margin-right: 45vw;
}



.total-cart {
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: rgb(194, 194, 194);
    border: 2vw solid rgb(194, 194, 194);
    color: black;
    font-weight: 600;
    margin-left: 2vw;
    margin-top: 3vh;
    user-select: none;
    width: 92vw;
    margin-bottom: calc(VAR(--index) * 7);
}

.total-price {
    font-weight: 900;
}

.buy-button {

    font-family: Arial Narrow, sans-serif;

    position: fixed;
    bottom: 0;
    left: 0;

    padding: calc(var(--index) * 1.4) calc(var(--index) * 9);

    text-decoration: none;
    font-weight: 600;
    font-size: calc(var(--index) * 2);
    border-radius: 0 var(--index) var(--index) 0;

    background: linear-gradient(90deg, rgb(99, 99, 99), rgb(70, 70, 70));
    color: whitesmoke;

    user-select: none;

}

.info-image {
    height: 75vh;
    width: 100vw;
}

.info-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    color: whitesmoke;
    font-size: calc(var(--index) * 2.5);
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-shadow: 2px 2px rgb(68, 68, 68);
}

.info-block-2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-2 {
    color: rgb(167, 167, 167);
    font-size: calc(var(--index) * 2.5);
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-shadow: 2px 2px rgb(54, 54, 54);
    width: 88vw;
}