a {
    text-decoration: none;
}
.menu-button {
    width: 100vw;
    height: 26%;
    margin-bottom: 1vh;
    transition: transform .5s;
}
.menu-button:hover {
    transform: scale(1.1);
}

.menu-button:active {
    transform: scale(.9);
}

.header-menu {
    padding-bottom: 0;
}