.custom-recoder {
    background-color: rgb(17, 17, 17);
    overflow: hidden;
    width: 100%;
    height: 6vh;
}

.play,
.pause,
.loading {
    height: 3.5vh;
    width: 6vw;
    margin-left: 1.5vw;
    padding-top: 1vh;

}

.timer {
    float: right;
    font-size: calc(var(--index) * 1.8);
}

.time-line {
    position: relative;
    background-color: rgb(0, 106, 48);
    border-radius: var(--index);
    height: .8vh;
    width: 32vw;
    margin-left: 10vw;
    margin-top: -1vh;
}

@keyframes loading {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.loading {
    margin-left: 1vw;
    margin-top: .2vh;
    padding: .5vh;
    animation: loading 5s linear infinite;
}