:root {
    --index: calc(1vh + 1vw);
    --font: Arial Narrow, sans-serif;
}

.product-cell {
    font-family: var(--font);
    border: calc(var(--index) * 0.3) #202020 solid;
    border-radius: var(--index);
    margin-top: var(--index);
    margin-left: var(--index);
    display: inline-block;
    overflow: hidden;
    height: calc(var(--index) * 22);
    width: 44%;
    background-color: #012900;

}

.product-photo {
    border-radius: var(--index) var(--index) 0 0;
    height: calc(var(--index) * 12);
    user-select: none;
    width: 100%;
}

.product-name {
    text-decoration: none;
    font-size: calc(var(--index) * 1.2);
    font-weight: 600;
    margin-left: calc(var(--index) * 1.5);
}

.main-information {
    font-size: calc(var(--index) * 1.2);
    margin-top: calc(var(--index));
}

.basket-icon {
    margin-right: var(--index);
    transform: scale(1.5);
    color: #025b00;
}



.custom-link {
    text-decoration: none;
    color: whitesmoke;
    transition: color .3s, transform .3s;
}
.custom-link:hover {
    color: white
}
.custom-link:active {
    transform: scale(1.07);
}


.name-music {
    display: flex;
    height: calc(var(--index) * 2.2);
    font-size: calc(var(--index) * 1.3);
    justify-content: center;
    align-items: center;

}