:root {
    --index: calc(1vh + 1vw);
    --font: Arial Narrow, sans-serif;
}


.product-cell {
    font-family: var(--font);
    border: calc(var(--index) * 0.3) #202020 solid;
    border-radius: var(--index);
    margin-top: var(--index);
    margin-left: var(--index);
    display: inline-block;
    overflow: hidden;
    height: calc(var(--index) * 23.3);
    width: 44%;
    background-color: #000000;

}



.product-photo {
    border-radius: var(--index) var(--index) 0 0;
    height: calc(var(--index) * 12);
    user-select: none;
    width: 100%;
}

.product-name {
    text-decoration: none;
    font-size: calc(var(--index) * 1.5);
    font-weight: 900;
    margin-left: calc(var(--index) * 1.5);
}

.main-information {
    font-size: calc(var(--index) * 1.2);
    margin-top: calc(var(--index));
}

.basket-icon {
    margin-right: var(--index);
    transform: scale(1.5);
    color: #000000;
}



.custom-link {
    text-decoration: none;
    color: rgb(245, 245, 245);
    transition: color .3s, transform .3s;
}
.custom-link:hover {
    color: white
}
.custom-link:active {
    transform: scale(1.07);
}


.name-music {
    display: flex;
    height: calc(var(--index) * 3.5);
    font-size: calc(var(--index) * 1.3);
    justify-content: center;
    align-items: center;

}

.label-block {
    margin-top: calc(var(--index) * 2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-img {
    width: 100vw;
    height: (calc(var(--index) * 2));
}


.performer-block {
    margin: var(--index);  
    border-radius: var(--index);
    background-color: #ffffff;
    height: calc(var(--index) * 5);
    overflow: hidden;
}

.performer-button {
    height: calc(var(--index) * 4);
    width: calc(var(--index) * 7.3);
    display: inline-block;
    margin: calc(var(--index) * .5);
    border-radius: var(--index);
    cursor: pointer;
    user-select: none;
    
}

.open-block {
    cursor: pointer;
    background-color: whitesmoke;
    height: 3.5vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 100% 100% ;
    position: absolute;
    left: 30vw;
    margin-top: -2vh;
}

.open {
    background-color: whitesmoke;
    border-radius: 50%;
    color: black;
    transform: scale(1.2);
}

