:root {
    --index: calc(1vh + 1vw)
}

.custom-market-cart {
    display: flex;
    width: 100%;
    height: calc(var(--index) * 2.5);
    margin-top: calc(var(--index) * 2.5);
}

.button-plus,
.button-minus {
    position: absolute;
    transform: scale(2);
    color: rgb(2, 131, 19);
    transition: transform .4s ease-in-out, color 1s linear;
}

.button-minus:hover,
.button-plus:hover {
    transform: rotate(180deg) scale(2);
    color: whitesmoke;
    
}

.button-minus:active,
.button-plus:active {
    transform: rotate(180deg) scale(2.2);
}


.button-minus {
    margin-left: 5%;
    margin-right: 35%;
}

.button-plus {
    margin-left: 35%;
}

.counter {
    font-size: calc(var(--index) * 1.2);
    margin-left: 48%;
    font-weight: 600;
}