:root {
    --index: calc(1vh + 1vw);
    --font: Arial Narrow, sans-serif;
}

.button-cart {
    font-family: var(--font);
    border-radius: 0 0 var(--index) var(--index);
    font-size: calc(var(--index) * 1.5);
    font-weight: 600;
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    width: 100%;
    height: calc(var(--index) * 3.7);
    transition: transform .2s, opacity .5s linear;
}

.button-cart:active {
    transform: scale(1.1);
}
.button-cart:hover {
    opacity: .2;
}


.custom-market-cart,
.delete-check-mark-cart {
    display: flex;
    width: 100%;
    height: calc(var(--index) * 2.5);
    margin-top: calc(var(--index) * 2.5);
}

.button-exclusive,
.button-lizing {
    font-family: var(--font);
    font-size: calc(var(--index) * 1.5);
    font-weight: 600;
    position: relative;
    margin-top: -4vh;
    height: calc(var(--index) * 3.7);
    outline: none;
    border: none;
    transition: transform .3s ease-in-out;
}

.button-exclusive {
    width: calc(var(--index) * 10.5);
    background-color: whitesmoke;
    color: #000000;
}

.button-lizing {
    width: calc(var(--index) * 7);
    background-color: #1f1f1f;
    color: whitesmoke;
}

.button-exclusive:hover,
.button-lizing:hover {
    transform: scale(1.05);
}

.button-exclusive:active,
.button-lizing:active {
    transform: scale(.95);
}


.add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    border-radius: 0 0 0 var(--index);
    font-size: calc(var(--index) * 1.5);
    font-weight: 600;
    position: relative;
    margin-top: -4vh;
    height: calc(var(--index) * 3.7);
    width: calc(var(--index) * 14.3);
    background-color: black;
}

.delete-button {
    height: calc(var(--index) * 3.7);
    width: calc(var(--index) * 3.7);
    margin-top: -4vh;
}

.icon-delete {
    margin-top: .5vh;
    transform: scale(1.3);
}