:root {
    --index: calc(1vh + 1vw)
}

.product-photo-description {
    width: 100%;
    height: calc(var(--index) * 25);
}

.close-icon {
    transform: scale(2.5);
    position: fixed;
    z-index: 1;
    margin: calc(var(--index) * 1.5);
    color: orangered;
    cursor: pointer;
    right: 0;
}


.about-product {
    font-family: Arial Narrow, sans-serif;
    background-color: var(--tg-theme-secondary-bg-color);
    height: calc(var(--index) * 12.5);
    overflow: hidden;
    width: 100%;
    
}

.heading-about,
.heading-specification {
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: var(--tg-theme-button-color);
    margin: calc(var(--index) * .5);
}

.heading-about {
    color: orangered;
}

.about,
.specification {
    margin-top: calc(var(--index) * .5);
    line-height: calc(var(--index) * 1.7);
    font-size: calc(var(--index) * 1.4);
    
}

.open-about-button,
.open-specification-button {
    cursor: pointer;
    width: 100%;
    outline: none;
    border: none;
    margin-top: calc(var(--index) * .7);
    height: calc(var(--index) * 4);
    border-radius: 0 0 var(--index) var(--index);
    background-color: var(--tg-theme-accent-text-color);
    color: var(--tg-theme-button-text-color);
    font-weight: 600;
    font-size: calc(var(--index) * 1.5);
}

.open-about-button {background: linear-gradient(180deg, orangered, rgb(255, 132, 61));}

.left-button {
    cursor: pointer;
    color: var(--tg-theme-accent-text-color);
    transform: scale(2);
    position: absolute;
    top: calc(var(--index) * 12);
    left: calc(var(--index) * 2);
}

.right-button {
    cursor: pointer;
    color: var(--tg-theme-accent-text-color);
    transform: scale(2);
    position: absolute;
    top: calc(var(--index) * 12);
    right: calc(var(--index) * 3);
}

.dimmer-text,
.dimmer-text-specification {
    position: absolute;
    height: calc(var(--index) * 12.5);
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, var(--tg-theme-secondary-bg-color));
}

.specification-product {
    font-family: Arial Narrow, sans-serif;
    background-color: var(--tg-theme-secondary-bg-color);
    height: calc(var(--index) * 9);
    overflow: hidden;
    width: 100%;
}

.dimmer-text-specification {
    height: calc(var(--index) * 9);
}

.open-specification-button {
    background: linear-gradient(90deg, var(--tg-theme-accent-text-color), var(--tg-theme-button-color));
    width: calc(var(--index) * 10);
    border-radius: var(--index);
    margin-left: var(--index);
    margin-bottom: var(--index);
}

.spec-arrow-icon {
    margin-left: calc(var(--index) * .5);
}

.cell-specification-product {
    background-color: var(--tg-theme-secondary-bg-color);
    border-radius: 0 0 var(--index) var(--index);
}