:root {
    --index: calc(1vh + 1vw)
}

.product-photo-description {
    width: 100%;
    height: calc(var(--index) * 25);
}

.close-icon {
    transform: scale(2.5);
    position: fixed;
    padding: calc(var(--index) * 1.5);
    color: var(--tg-theme-button-color);
    right: 0;
}


.about-product {
    background-color: var(--tg-theme-secondary-bg-color);
    height: calc(var(--index) * 12.5);
    overflow: hidden;
    width: 100%;
    
}

.heading-about {
    background-color: (--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    margin: calc(var(--index) * .5);
}

.about {
    margin-top: calc(var(--index) * .5);
    line-height: calc(var(--index) * 1.7);
}

.open-about-button {
    width: 100%;
    outline: none;
    border: none;
    margin-top: calc(var(--index) * .7);
    height: calc(var(--index) * 4);
    border-radius: 0 0 var(--index) var(--index);
    background-color: orangered;
    color: var(--tg-theme-button-text-color);
    font-weight: 600;
    font-size: calc(var(--index) * 1.5);
}
