:root {
    --index: calc(1vh + 1vw)
}

.product-photo-description {
    width: 100%;
    height: calc(var(--index) * 25);
}

.close-icon {
    transform: scale(2.5);
    position: fixed;
    padding: calc(var(--index) * 1.5);
    color: var(--tg-theme-button-color);
    right: 0;
}

.about-product {
    border-radius: var(--index);
    border: calc(var(--index) * .3) solid var(--tg-theme-button-color);
    width: 100%;
}

.heading-about {
    color: var(--tg-theme-button-color);
    margin: calc(var(--index) * .5);
}