:root {
    --index: calc(1vh + 1vw)
}

.product-cell {
    font-family: Comic Sans MS, Comic Sans, cursive;
    border: calc(var(--index) * 0.2) black solid;
    border-radius: var(--index);
    margin-top: var(--index);
    margin-left: var(--index);
    display: inline-block;
    overflow: hidden;
    height: calc(var(--index) * 20);
    width: 44%;
    background-color: gray;

}

.product-photo {
    border-radius: var(--index) var(--index) 0 0;
    height: calc(var(--index) * 12);
    width: 100%;
}

.product-price {
    font-size: calc(var(--index) * 1.5);
    font-weight: 900;
    float: right;
    margin-right: 5%;
}
.product-name {
    font-size: calc(var(--index) * 1.5);
    font-weight: 600;
    margin-left: 2%;
}

.main-information {
    font-size: calc(var(--index) * 1.2);
    margin-top: calc(var(--index));
}

.button-cart {
    font-family: Comic Sans MS, Comic Sans, cursive;
    border-radius: 0 0 var(--index) var(--index);
    font-size: calc(var(--index) * 1.5);
    font-weight: 600;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    margin-top: calc(var(--index));
    outline: none;
    border: none;
    width: 100%;
    height: calc(var(--index) * 3.7);
    transition: transform .2s;
}

.button-cart:active {
    transform: scale(1.1);
}
.button-cart:hover {
    background-color: rgb(182, 48, 0);
}

.basket-icon {
    margin-right: var(--index);
    transform: scale(1.5);
}



