:root {
    --index: calc(1vh + 1vw)
}

.product-cell {
    border: calc(var(--index) * 0.2) black solid;
    border-radius: var(--index);
    margin-top: var(--index);
    margin-left: var(--index);
    display: inline-block;
    overflow: hidden;
    height: calc(var(--index) * 20);
    width: 44%;
    background-color: gray;

}

.product-photo {
    border-radius: var(--index) var(--index) 0 0;
    height: calc(var(--index) * 12);
    width: 100%;
}

.product-price {
    float: right;
    margin-right: 5%;
}
.product-name {
    margin-left: 2%;
}

.main-information {
    font-size: calc(var(--index) * 1.2);
    margin-top: var(--index);
}

.button-cart {
    border-radius: 0 0 var(--index) var(--index);
    font-size: calc(var(--index) * 1.2);
    height: calc(var(--index) * 5);
    background-color: orangered;
    margin-top: var(--index);
    color: aliceblue;
    outline: none;
    border: none;
    width: 100%;
}