:root {
    --index: calc(1vh + 1vw)
}

.header {
    font-family: Arial Narrow, sans-serif;
    margin-bottom: calc(var(--index) * .7);
}

.header-text {
    font-family: Comic Sans MS, Comic Sans, cursive;
    display: flex;
    color: var(--tg-theme-accent-text-color);
    align-items: center;
    justify-content: center;
    height: calc(var(--index) * 5);
    margin-bottom: calc(var(--index) * .7);
}

.market-name {
    font-size: calc(var(--index) * 3);
    margin-left: var(--index);
}

.header-menu {
    display: flex;
    align-items: center;
    height: calc(var(--index) * 5);
    background-color: var(--tg-theme-secondary-bg-color);
}

.header-menu-button, 
.cart-button {
    display: flex;
    background-color: var(--tg-theme-accent-text-color);
    height: calc(var(--index) * 4);
    width: calc(var(--index) * 7);
    align-items: center;
    justify-content: center;
    margin-left: var(--index);
    text-decoration: none;
    font-weight: 600;
    border-radius: var(--index);
    font-size: calc(var(--index) * 1.4);
}

.cart-icon {
    font-weight: 900;
    transform: scale(2.2);
}

.cart-button {
    width: calc(var(--index) * 10);
    border-radius: var(--index) 0 0 var(--index);
    margin-left: calc(var(--index) * 2.5);
    background: linear-gradient(90deg, orangered, rgb(255, 132, 61));
    color: aliceblue;
    border-right: none;
}

.circle-counter {
    z-index: 1;
    background-color: var(--tg-theme-accent-text-color);
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: 600;
    font-size: calc(var(--index) * 1.5);
    margin-left: calc(var(--index) * 3);
    margin-bottom: calc(var(--index) * 3);
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    height: calc(var(--index) * 2.7);
    width: calc(var(--index) * 2.7);
    border-radius: 100%;
}

.selected-block {
    pointer-events: none;
}

.selected-button {
    background-color: orangered;
    color: aliceblue;
}