:root {
    --index: calc(1vh + 1vw)
}




.header-menu {
    background: linear-gradient(to bottom, transparent, black 99%);
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    height: calc(var(--index) * 5);
    top: calc(var(--index) * 18.3);
    padding-bottom: 3vh;
}


.header-menu-button, 
.cart-button {
    display: flex;
    height: calc(var(--index) * 4.3);
    width: calc(var(--index) * 7.3);
    align-items: center;
    justify-content: center;
    margin-left: var(--index);
    border-radius: var(--index);
    transition: background-color .3s;
    border: calc(var(--index) * .2) solid rgb(0, 0, 0);
}


.header-menu-button:hover {
    background-color: #003c02;
}



.cart-icon {
    font-weight: 900;
    transform: scale(2.2);
}

.cart-button {
    border: calc(var(--index) * .4) solid rgb(0, 0, 0);
    height: calc(var(--index) * 3.85);
    width: calc(var(--index) * 8);
    border-radius: var(--index) 0 0 var(--index);
    font-size: calc(var(--index) * 1.3);
    margin-left: calc(var(--index) * 2.5);
    background: linear-gradient(90deg, rgb(223, 223, 223), whitesmoke);
    color: #000000;
    transition: color .3s;
}

.cart-button:hover {
    color: #148400;
}

.circle-counter {
    z-index: 1;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(142, 142, 142));
    color: rgb(0, 0, 0);
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: 600;
    font-size: calc(var(--index) * 1.5);
    margin-left: calc(var(--index) * 3);
    margin-bottom: calc(var(--index) * 3);
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    height: calc(var(--index) * 2.4);
    width: calc(var(--index) * 2.4);
    border-radius: 100%;
    border: #000000 solid calc(var(--index) * .25);
}

.selected-block {
    pointer-events: none;
}

.selected-button {
    transform: scale(1.1);
    border: calc(var(--index) * .2) solid whitesmoke;
}