:root {
    --index: calc(1vh + 1vw)
}

.header {
    background: url('https://i.postimg.cc/W4NVxZJB/photo-2024-04-06-23-24-42.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial Narrow, sans-serif;
    margin-bottom: calc(var(--index) * 3.5);
    height: calc(var(--index) * 12);
}


.header-menu {
    position: absolute;
    background: linear-gradient(to bottom, transparent, black 99%);
    z-index: 100;
    display: flex;
    align-items: center;
    height: calc(var(--index) * 5);
    top: calc(var(--index) * 10.5);
    transition: position 1s;

}

.header-menu-button, 
.cart-button {
    display: flex;
    background-color: #002301;
    height: calc(var(--index) * 4);
    width: calc(var(--index) * 7);
    align-items: center;
    justify-content: center;
    margin-left: var(--index);
    text-decoration: none;
    font-weight: 600;
    border-radius: var(--index);
    border-top: calc(var(--index) * .2) solid rgba(245, 245, 245, 0.801);
    border-right: calc(var(--index) * .2) solid rgba(245, 245, 245, 0.701);
    font-size: calc(var(--index) * 1.4);
    transition: background-color .3s;
}

.header-menu-button:hover {
    background-color: #003c02;
}



.cart-icon {
    font-weight: 900;
    transform: scale(2.2);
}

.cart-button {
    width: calc(var(--index) * 10);
    border-radius: var(--index) 0 0 var(--index);
    border-top: calc(var(--index) * .2) solid black;
    margin-left: calc(var(--index) * 2.5);
    background: linear-gradient(90deg, rgb(223, 223, 223), whitesmoke);
    color: #1dab04;
    border-right: none;
    transition: color .3s;
}

.cart-button:hover {
    color: #148400;
}

.circle-counter {
    z-index: 1;
    background: linear-gradient(90deg, rgb(6, 90, 0), rgb(2, 149, 11));
    color: whitesmoke;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: 600;
    font-size: calc(var(--index) * 1.5);
    margin-left: calc(var(--index) * 3);
    margin-bottom: calc(var(--index) * 3);
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    height: calc(var(--index) * 2.7);
    width: calc(var(--index) * 2.7);
    border-radius: 100%;
}

.selected-block {
    pointer-events: none;
}

.selected-button {
    border-top-color: black;
    background-color: whitesmoke;
    color: black;
}