* {
    margin: 0;
    padding: 0;
}

iframe
{
    display: none;
}

html, body {
    overflow-x: hidden; /* чтобы события скролла работали стабильно */

  }

body {
    background-color: black;
    color: whitesmoke;
}