:root {
    --index: calc(1vh + 1vw)
}

.about-block {
    background-color: #ffffff;
    padding: var(--index);
    margin: var(--index);
    margin-top: calc(var(--index) * 2);
    border-radius: var(--index);
}

.heading-about-us {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: calc(var(--index) * 4);
    color: rgb(0, 0, 0);
}

.about {
    font-family: Arial Narrow, sans-serif;
    font-size: calc(var(--index) * 1.5);
    font-weight: 600;
    color: rgb(30, 30, 30);
}