:root {
    --index: calc(1vh + 1vw)
}

ul {
    list-style-type: none;
}

.others {
    background-color: #111;
    margin: var(--index);
    padding: var(--index);
    border-radius: var(--index);
    margin-top: calc(var(--index) * 2);
}

.others li {
    display: block;
    line-height: calc(var(--index) * 2);
    margin-top: calc(var(--index) * 1.3);
    
    width: auto;
}

.header-contacts {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: calc(var(--index) * 2.75);
    color: whitesmoke;
}

.subtitle {
    display: block;
    font-weight: 600;
    font-size: calc(var(--index) * 2);
    color: #a6a6a6;
}


.link {
    font-family: Arial Narrow, sans-serif;
    font-size: calc(var(--index) * 1.75);
    color: rgb(255, 255, 255);
}




.creators,
.cooperation {
    background-color: #202020;
    margin: var(--index);
    padding: var(--index);
    border-radius: var(--index);
    margin-top: calc(var(--index) * 2);
    color: rgb(0, 0, 0);
}

.ceo-header, 
.mgmt-header {
    display: block;
    font-weight: 600;
    margin-top: calc(var(--index) * 1.5);
    margin-bottom: calc(var(--index) * 1.5);
    font-size: calc(var(--index) * 1.8);
    color: whitesmoke;
}

.creators .icon {
    bottom: 0;
    color: rgb(0, 0, 0);
    transform: scale(1.1);
}

.icon { 
    bottom: 0;
    color: whitesmoke;
}

.creators li {
    margin-top: calc(var(--index) * .5);
}

.header-contacts-creators {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: calc(var(--index) * 2.75);
    color: rgb(0, 0, 0);
    font-weight: 900;
}

.creators .link {
    color: rgb(184, 184, 184);
    margin-left: var(--index);
}


.cooperation .link {
    color: rgb(136, 136, 136);
    margin-left: var(--index);
}

.young-bimpie-header,
.thekillingmachinebeats-header {
    display: block;
    font-weight: 900;
    margin-top: calc(var(--index) * 1.5);
    margin-bottom: calc(var(--index) * 1.5);
    font-size: calc(var(--index) * 1.8);
    color: rgb(0, 0, 0);
}